html{
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
  }
  #menu
  {
    background-color: #ffffff79;
  }
  
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  ul.navbar-nav { 
    float:right;
    text-align:center;
  }
  ul.navbar-nav li 
  {
    padding: 0 10px;
  }
  @media only screen and (max-width:767px)
  { ul.navbar-nav { float:none; } }
  .container-fluid {
    padding: 0 1em;
  }
  .navbar-nav li a
  {
    color:black!important;
    font-size:1.2em;
    font-family: Century gothic,sans-serif;
    font-weight:600;
    transition: 0.4s ease;
  }
  .navbar-nav li a:hover
  {
    color:#fff!important;
    background-color:#86469C!important;
  }
  .navbar-brand {
    padding:10px 15px!important;
  }
  a.navbar-brand .fa-globe
  {
    font-size: 30px;
    color: black;
    transition:0.5s ease;
  }
  a.navbar-brand .fa-globe:hover
  {
    color: #FFCDEA;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
      background-color: black!important;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: #fff!important;
  }
  
  .container {
    margin: 0 auto;
    max-width: 996px;
  }
  .splash {
    background:url(/img/fundo.jpg) no-repeat fixed center bottom;
      background-size: cover;
      color: #fff;
  }
  
  .splash .container {
    padding-top: 15vh; /* No JS fallback*/
    padding-bottom: 10vh; /* No JS fallback*/
  }
  
  .profile-image {
    border-radius: 50%;
    display: block;
    max-height:250px;
    max-width: 250px;
    margin: 0 auto 1em;
    width: 100%;
    opacity: 0.85;
  }
  
  .splash h1 {
    font-size: 40px;
    margin-bottom: .15em;
    text-align: center;
  }
  
  .splash .lead, .splash .continue {
    display: inline-block;
    text-align: center;
  }
  h1.intro-text
  {
    margin:0;
    color:#fff;
  }
  .splash .lead {
    font-size: 30px;
    margin-bottom: 1em;
    font-family: Rockwell;
  }
  .navbar-inverse
  {
    border:none!important;
  }
  @keyframes blink
    {
              0% { opacity:1; }
              50% { opacity:0; }
              100% { opacity:1; }
    }
          @-webkit-keyframes blink
          {
              0% { opacity:1; }
              50% { opacity:0; }
              100% { opacity:1; }
          }
          @-moz-keyframes blink
          {
              0% { opacity:1; }
              50% { opacity:0; }
              100% { opacity:1; }
          }
          @-ms-keyframes blink
          {
              0% { opacity:1; }
              50% { opacity:0; }
              100% { opacity:1; }
          }
          @-o-keyframes blink
          {
              0% { opacity:1; }
              50% { opacity:0; }
              100% { opacity:1; }
          }

  #typed-cursor
  {
        opacity: 1;
        font-size: 40px;
        color: #fff;
        font-weight: 50;
        -webkit-animation: blink 1s infinite;
        -moz-animation: blink 1s infinite;
        -ms-animation: blink 1s infinite;
        -o-animation: blink 1s infinite;
        animation: blink 1s infinite;
  }
  
  .splash .continue {
    font-size: 3em;
    display:block;
  }
  
  .splash .continue a {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height:40px;
    font-size:30px;
  }
  .splash .continue a:hover {
    background-color: rgba(255, 255, 255, .25);
  }
  #about,#calcular
  {
    padding-top:4em!important;
  }
  section h2 {
      margin: 0;
      font-size: 3em;
  }
  section.success {
      color: #fff;
      background: rgb(188, 127, 205);
    padding: 2%;
  }
  
  section.success a
  {
    color:black;
    transition: 0.4s ease;
  }
  section.success a:hover {
      outline: 0;
      color: #fff;
    border: 2px solid #fff;
  }
  .contact-button
  {
    padding-bottom:2%;
  }
  hr.star-light,hr.star-calcular {
      margin: 25px auto 30px;
      padding: 0;
      max-width: 250px;
      border: 0;
      border-top: solid 3px;
      text-align: center;
  }
  
  hr.star-light:after,hr.star-calcular:after {
      content: "\f005";
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-family: FontAwesome;
      font-size: 2em;
  }
  
  hr.star-light {
      border-color: #fff;
  }
  hr.star-calcular {
      border-color: black;
  }
  hr.star-calcular:after {
      color: black;
      background-color: #eee;
  }
  hr.star-light:after {
      color: #fff;
      background-color: rgb(188, 127, 205);
  }
  p.content-text { font-size: 25px; }
  
  /* ÁREA DE CALCULO */
  .formas-card{
      box-shadow: 0px 2px 5px #888888;
      background: #eee;
      border-radius: 4px;
  
  }
  
  .formas-card:hover{
      box-shadow: 0px 10px 10px #888888;
    cursor: pointer
  }
  
  .formas-container-holder{
      background: #eee;
      padding-bottom: 20px;
  }
  
  
  .formas-card-holder{
      padding: 5px;
      margin-bottom: 5px;
  }
  
  .formas-img{
      width: 100%;
      border-radius: 4px 4px 0 0;
  }
  
  .formas-img-desc{
      position: relative;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #fff;
      color: #000;
      text-align: center;
      padding: 5px;
  }
  
 
  /* ========================
  Footer
  ======================== */
  
  footer {
    background-color: #FB9AD1;
    color:  #FFCDEA;
    font-size: 1.5em;
    text-align: center;
    padding:3%;
  }
  
  .fa-heart {
    color:#86469C;
  }
  h4.author
  {
    letter-spacing:4px;
  }
 